
 .button-67 {
  align-items: center;
  background: #e7e7f5;
  border: 0;
  border-radius: 18px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  text-align: center;
  color: #2a1f62;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  -webkit-user-select: none;
touch-action: manipulation;
white-space: pre;
width: max-content;
word-break: normal;
word-spacing: normal; 
justify-content: center;
line-height: 1.5rem;
padding: 15px;
position: relative;
transition: .2s;
user-select: none;
text-decoration:none;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}

body {
  background-color: #e7e7f5; ;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 100px;
}
        
p {
font-size: 30px;
}

 


/* cursor: pointer; */
  /* display: flex; */